<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>

